.tag {
  display: inline-block;
  background: #ff6060;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 18px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 8px;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
}
